.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary);
    position: relative;
}

.auth-card {
    max-width: 400px;
    margin: 40px auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.login-img, .login-img2{
    width: 50px;
    z-index: 1;
    position: absolute;
    margin-left: 170px;
    margin-bottom: 130px;
    rotate: calc(40deg);
}
.login-img2 {
    margin-left: -170px;
    rotate: calc(-40deg);
}
