.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary);
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

p {
  margin-top: 15px;
}

.login-img,
.login-img2,
.register-img {
  width: 90px;
  z-index: 1;
  position: absolute;
  margin-left: 310px;
  /* margin-bottom: 150px; */
  rotate: calc(40deg);
}
.login-img2 {
  margin-left: -50px;
  rotate: calc(-40deg);
}

.register-img {
  width: 200px;
  rotate: calc(0deg);
  margin-left: 70px;
  margin-top: -50px;
}

.register-title {
  margin-top: 50px;
}

.hero,
.card {
  text-align: center;
  padding: 50px;
}

.auth-blur {
  background-color: #f0f8ff2c;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
